*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #050505;
}

a > img{
    width: 75px;
    height: 75px;
}

.header-wrap{
    width: 100%;
    height: 75px;
    background-color: rgba(13, 163, 201, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-wrap > a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.store-name{
    font-size: 1.2rem;
    font-weight: 500;
}

.all-sections{
    font-size: 1.1rem;
    display: flex;
    gap: 20px;
}

.cart{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.cart-amount{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 99px;
    background-color: red;
    color: #fafafa;
    z-index: 1;
    top: -10px;
    left: 54%;
    cursor: pointer;
}

.cart > svg{
    fill: #050505;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


@media (max-width: 630px){
    a > img{
        width: 60px;
        height: 60px;
    }
    .header-wrap > a{
        gap: 10px
    }
    .store-name{
        font-size: 1.2rem;
    }
    .all-sections{
        font-size: 1rem;
        gap: 15px
    }
    .cart{
        width: 20%;
    }
}

@media (max-width: 500px){
    .cart-amount{
        font-size: 0.8rem;
    }
}


.main-content-wrapper{
    display: flex;
    max-width: 1250px;
    margin: 4rem auto;
    gap: 20px;
    min-height: calc(100vh - 75px - 8rem);
}
@media (max-width: 800px){
    .main-content-wrapper{
        min-height: calc(100vh - 75px - 4rem);
    }
}

.search-filter{
    position: relative;
}
.search-filter > svg{
    fill: #050505;
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.filters-wrap{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0 2rem;
    flex-shrink: 0;
}
.filters-relative{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2rem;
}
.filters-relative > svg{
    width: 20px;
    height: 20px;
    fill: rgb(218, 11, 11);
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}

.search-input, .search-input-small{
    border: 1px solid #D8D8D8;
    border-radius: 6px;
    padding: 5px 8px;
    outline: 0;
    color: #050505;
    font-size: 0.9rem;
    width: 90%;
}
.search-input::placeholder, .search-input-small::placeholder{
    font-size: 0.9rem;
}
.search-input.invalid, .search-input-small.invalid{
    border: 1px solid red;
}
.search-filter > svg.invalid{
    fill: red;
}

@keyframes invalid-input{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}


.category-filter, .category-filter-small{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    gap: 8px;
}
.filter-title, .filter-title-small{
    color: #050505;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 3px;
}
.each-category, .each-category-small{
    font-size: 0.9rem;
    color: rgb(92, 90, 90);
    cursor: pointer;
    width: max-content;
}
.each-category.selected, .each-category-small.selected{
    border-bottom: 2px solid rgba(110, 200, 223, 1);
}
.price-filter, .price-filter-small{
    margin: 15px 0;
}
.shipping-filter, .shipping-filter-small{
    font-weight: 500;
    color: #050505;
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: max-content;
    align-items: center;
}
.shipping-filter > .checkbox, .shipping-filter-small > .checkbox-small{
    width: 19px;
    height: 19px;
    border: 1px solid #D8D8D8;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms linear;
}
.shipping-filter > .checkbox.selected, .shipping-filter-small > .checkbox-small.selected{
    border: 0;
    background-color: rgba(110, 200, 223, 1);
}
.shipping-filter > .checkbox > svg, .shipping-filter-small > .checkbox-small > svg{
    fill: #fff;
    width: 12px;
    height: 12px;
}
.clear-filters, .clear-filters-small{
    background-color: rgb(218, 11, 11);
    color: #fafafa;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    width: max-content;
    padding: 5px 12px;
    cursor: pointer;
    transition: 100ms ease;
    user-select: none;
}

.price-slider, .price-slider-small{
    appearance: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 5px;
    background-color: rgba(13, 163, 201, 0.182);
    cursor: pointer;
}


.price-slider::-webkit-slider-thumb, .price-slider-small::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 99px;
    cursor: grab;
    background-color: rgba(110, 200, 223, 1);
    outline: none;
    z-index: 5;
}
.price-slider::-moz-range-thumb, .price-slider-small::-moz-range-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 99px;
    cursor: grab;
    background-color: rgba(110, 200, 223, 1);
    outline: none;
    z-index: 5;
    border: 0;
}

.price-slider::-webkit-slider-thumb:active, .price-slider-small::-webkit-slider-thumb:active{
    cursor: grabbing;
}
.slider-wrap, .slider-wrap-small{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.price-number, .price-number-small{
    color: #050505;
    font-weight: 500;
}
.fill, .fill-small{
    position: absolute;
    height: 5px;
    width: 100%;
    z-index: 2;
    background-color: rgba(110, 200, 223, 1);
    border-radius: 5px 0 0 5px;
    top: 10.1px;
    pointer-events: none;
}
.slider-wrapper, .slider-wrapper-small{
    position: relative;
    width: 90%;
}

.all-products-content{
    display: flex;
    margin-right: 26px;
    flex-direction: column;
    flex-grow: 1;
}
.current-products-info, .little-text{
    font-size: 0.9rem;
    color: rgb(92, 90, 90);
}
.foundProducts, .allDBProducts, .sortingCategory{
    font-size: 0.95rem;
    font-weight: 500;
    color: #050505;
}
.products-header{
    display: flex;
    flex-direction: row;
    height: max-content;
    gap: 25px;
    width: 100%;
    align-items: center;
}

.divider-line{
    height: 2px;
    background-color: rgba(110, 200, 223, 1);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
}
.sorting-wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 19.2px;
}
.current-products-info{
    height: 19.2px;
}
.dropdown-parent > svg{
    width: 12px;
    height: 12px;
    fill: #000;
    margin-left: 5px;
}
.dropdown-parent{
    position: relative;
    cursor: pointer;
}
.dropdown{
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 15px;
    display: none;
    flex-direction: column;
    width: max-content;
    cursor: default;
    right: 0;
}
.each-sort{
    font-size: 0.95rem;
    color: #050505;
    padding: 5px 10px;
    border: 1px solid #D8D8D8;
    border-bottom: 0;
    cursor: pointer;
    transition: 150ms ease-in;
}
.each-sort:hover{
    background-color: rgba(110, 200, 223, 1);
}
.each-sort:first-of-type{
    border-radius: 6px 6px 0 0;
}
.each-sort:last-of-type{
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0 0 6px 6px;
}

.products-content{
    display: flex;
    margin: 25px 0;
    flex-wrap: wrap;
    gap: 25px 0;
    flex-grow: 1;
}

.products-content > .product{
    display: flex;
    flex-direction: column;
    color: #050505;
    width: 200px;
    margin: 0 auto;
    gap: 10px;
    cursor: pointer;
}
.products-content > .product > img{
    width: 180px;
    height: 180px;
    object-position: center;
    object-fit: contain;
    border-radius: 6px;
}
.products-content > .product > .biggerLettersName{
    font-size: 0.95rem;
    font-weight: 500;
}
.products-content > .product > .smallerLettersName{
    font-size: 0.9rem;
    font-weight: 500;
}
.products-content > .product > .product-price{
    font-weight: 500;
    font-size: 0.9rem;
}

.pagitation-wrapper{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.pagitation-wrapper svg{
    width: 20px;
    height: 20px;
    fill: #000;
}
.pagitation-wrapper .next-page > svg{
    rotate: 180deg;
}
.pagitation-wrapper > .prev-page, .next-page{
    border: 1px solid #D8D8D8;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 150ms linear;
    cursor: pointer;
}
.pagitation-wrapper .all-pages{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.pagitation-wrapper .all-pages .pageElement{
    border: 1px solid #D8D8D8;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #050505;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 150ms linear;
    cursor: pointer;
}
.pagitation-wrapper .pageElement.dot{
    cursor: default;
}

.pagitation-wrapper .pageElement:not(.dot):hover, .prev-page:not(.not-allowed):hover, .next-page:not(.not-allowed):hover{
    background-color: rgba(110, 200, 223, 1);
    border: 1px solid rgba(110, 200, 223, 1);
}

.pagitation-wrapper .prev-page.not-allowed, .next-page.not-allowed{
    cursor: not-allowed;
}

.pagitation-wrapper .pageElement.current{
    background-color: rgba(110, 200, 223, 1);
    border: 1px solid rgba(110, 200, 223, 1);
    color: #fafafa;
}

.no-products-found{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.no-products-found > .no-products-bigger{
    font-size: 1.5rem;
    font-weight: 500;
    color: #050505;
    margin-top: 1.5rem;
}
.no-products-found > .no-products-smaller{
    font-size: 1.3rem;
    font-weight: 400;
    color: #050505;
}
.no-products-found > .no-products-smaller > .clear{
    color: rgb(218, 11, 11);
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}
.no-products-found > img{
    width: 200px;
    height: 200px;
}


.skeleton-element{
    display: flex;
    flex-direction: column;
    color: #050505;
    width: 200px;
    margin: 0 auto;
    gap: 10px;
}
.skeleton-element > .image-skeleton{
    width: 180px;
    height: 180px;
    border-radius: 6px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton_background 2s infinite;
}
.skeleton-element > .name-skeleton{
    width: 90%;
    border-radius: 6px;
    height: 22px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton_background 2s infinite;
}
.skeleton-element > .price-skeleton{
    width: 40%;
    border-radius: 6px;
    height: 18px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton_background 2s infinite;
}
.filters-activate{
    display: none;
}

@keyframes skeleton_background{
    0%{
        background-position: 200% 0;
    }
    100%{
        background-position: -200% 0;
    }
}

@media (max-width: 800px){
    .filters-wrap{
        display: none;
    }
    .all-products-content{
        margin: 0 2rem;
        margin-right: 42px;
    }
    .divider-line{
        display: none;
    }
    .filters-activate{
        display: flex;
        background-color: rgba(110, 200, 223, 1);
        font-size: 0.9rem;
        padding: 7px 12px;
        border-radius: 6px;
        font-weight: 500;
        color: #050505;
        cursor: pointer;
        transition: 150ms linear;
        border: 1px solid rgba(110, 200, 223, 1);
    }
    .filters-activate:hover{
        background-color: #fff;
    }
    .filters-activate:active{
        background-color: #fff;
    }
    .main-content-wrapper{
        margin: 2rem auto;
    }
    .products-header{
        justify-content: center;
    }
}

@media (max-width: 560px){
    .products-header{
        gap: 15px
    }
    .current-products-info, .little-text{
        font-size: 0.85rem;
    }
    .foundProducts, .allDBProducts, .sortingCategory{
        font-size: 0.9rem;
    }
    .dropdown{
        margin-top: 10px;
    }
    .all-products-content{
        margin: 0 1rem;
    }
    .no-products-found > .no-products-bigger{
        font-size: 1.4rem;
    }
    .no-products-found > .no-products-smaller{
        font-size: 1.3rem;
    }
}

@media (max-width: 490px){
    .current-products-info, .sorting-wrapper{
        height: auto;
    }
    .current-products-info{
        max-width: 120px;
    }
    .sorting-wrapper{
        flex-direction: column;
    }
    .dropdown-parent > svg{
        display: none;
    }
    .no-products-found > .no-products-bigger{
        font-size: 1.2rem;
    }
    .no-products-found > .no-products-smaller{
        font-size: 1.1rem;
    }
    .no-products-found > img{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 440px){
    .pagitation-wrapper > .prev-page, .next-page {
        width: 40px;
        height: 40px;
    }
    .pagitation-wrapper svg {
        width: 15px;
        height: 15px;
    }
    .pagitation-wrapper .all-pages .pageElement {
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
::-webkit-scrollbar-thumb{
    background: rgba(13, 163, 201, 0.6);
    border-radius: 99px;
}


.filters-wrap-small-screen{
    display: none;
    width: 250px;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-left: 0;
    border-top: 0;
}
.filters-wrap-small-screen.move-visible{
    display: flex;
    animation: filters-show 150ms linear forwards;
}
.filters-wrap-small-screen.move-hidden{
    display: flex;
    animation: filters-hide 150ms linear forwards;
    pointer-events: none;
}
@keyframes filters-show{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
@keyframes filters-hide{
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}




.footer{
    background-color: rgba(110, 200, 223, 1);
    color: #050505;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer > .div1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-decoration: underline;
}
.footer > .div1 a{
    color: #050505;
}

.footer > .div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer > .div2 > div{
    display: flex;
    gap: 15px;
    align-items: center;
}
.footer > .div2 > span{
    font-size: 1.2rem;
    font-weight: 500;
}
.footer > .div2 img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 600px){
    .footer{
        flex-direction: column;
        gap: 30px;
    }
}




.cart-contents{
    display: none;
    width: 400px;
    position: fixed;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-right: 0;
    border-top: 0;
    right: -100%;
    top: 0;
    z-index: 10;
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
}
.cart-contents::-webkit-scrollbar{
    width: 8px;
}

.cart-contents.move-show{
    display: flex;
    animation: cart-show 150ms linear forwards;
}
.cart-contents.move-hide{
    display: flex;
    animation: cart-hide 150ms linear forwards;
}

@keyframes cart-show{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}
@keyframes cart-hide{
    0%{
        right: 0;
    }
    100%{
        right: -100%;
    }
}

.cart-contents-relative{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 15px;
    flex-grow: 1;
}

.cart-contents-relative > svg{
    width: 20px;
    height: 20px;
    fill: rgb(218, 11, 11);
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}



.each-product-cart{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 90px;
}
.each-product-cart .product-cart-image{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    cursor: pointer;
}
.product-cart-image > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
}
.product-cart-price{
    font-size: 0.9rem;
    font-weight: 500;
    flex-shrink: 0;
    margin-left: auto;
    color: #050505;
}


.name-quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}
.cart-quantity-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-cart-name.bigger{
    font-size: 0.85rem;
    color: #050505;
    cursor: pointer;
}
.product-cart-name.smaller{
    font-size: 0.80rem;
    color: #050505;
    cursor: pointer;
}



.cart-button-more, .cart-button-less{
    width: 25px;
    height: 25px;
    border-radius: 99px;
    border: 1px solid rgba(110, 200, 223, 1);
    display: flex;
    background-color: rgba(110, 200, 223, 1);
    justify-content: center;
    align-items: center;
    transition: 150ms linear;
    user-select: none;
}

.cart-button-less svg, .cart-button-more svg{
    width: 13px;
    height: 13px;
    fill: #fff;
    transition: 150ms linear;
}
.cart-button-more svg{
    rotate: 180deg;
}
.in-cart-amount{
    font-size: 0.9rem;
    font-weight: 500;
    color: #050505;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button-more:not(.invalid):hover, .cart-button-less:not(.invalid):hover{
    cursor: pointer;
    background-color: #fff;
}
.cart-button-more:not(.invalid):hover svg, .cart-button-less:not(.invalid):hover svg{
    fill: #000;
}
.cart-button-more.invalid:hover, .cart-button-less.invalid:hover{
    cursor: not-allowed;
}


.remove-product{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 99px;
    background-color: rgb(218, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.remove-product svg{
    width: 13px;
    height: 13px;
    fill: #fff;
}



.grand-total{
    border-top: 2px solid rgba(110, 200, 223, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.grand-total > span{
    font-size: 1.2rem;
    font-weight: 500;
    color: #050505;
}
.proceed-to-checkout{
    border-radius: 99px;
    background-color: rgba(110, 200, 223, 1);
    padding: 10px 15px;
    color: #050505;
    cursor: pointer;
    font-weight: 500;
    transition: 150ms linear;
    border: 1px solid rgba(110, 200, 223, 1);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
}
.proceed-to-checkout > svg{
    width: 18px;
    height: 18px;
}
.proceed-to-checkout:hover{
    background-color: #fafafa;
}
.proceed-to-checkout:active{
    scale: .95;
}



.cart-empty{
    display: flex;
    flex-grow: 1;
    color: #050505;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
}
.cart-empty > img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 600px){
    .cart-contents{
        width: 310px;
    }
    .each-product-cart .product-cart-image{
        width: 50px;
        height: 50px;
    }
    .name-quantity{
        height: 70px;
    }
    .product-cart-name.bigger{
        font-size: 0.75rem
    }
    .product-cart-name.smaller{
        font-size: 0.7rem;
    }
    .product-cart-price{
        font-size: 0.80rem;
    }
    .grand-total > span{
        font-size: 1rem;
    }
    .proceed-to-checkout{
        font-size: 0.85rem;
    }
    .proceed-to-checkout > svg{
        height: 15px;
        width: 15px;
    }
    .grand-total{
        padding: 1rem 0;
    }
    .cart-empty > img{
        height: 130px;
        width: 130px;
    }
}